@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
   box-sizing: inherit;
}

/* color text ==> #3d3d3d */
/* color primary ==> #067E0A */
/* color primary-dark ==> #125814 */
/* color accent ==> #613b6b */
/* color accent-dark ==> #44264d */

/*  ff-serif ==>  'Crimson Text', serif */
/*  ff-title ==>  'Indie Flower', cursive */
/*  ff-logo ==>  'Dancing Script', cursive */

html {
   box-sizing: border-box;
   font-family: 'Crimson Text', serif;
   color: #3d3d3d;
   font-size: 1.25rem;
}

body {
   margin: 0;
   text-align: center;
}

img {
   display: block;
   max-width: 100%;
}

section {
   padding: 2.5em 1em;
}

.mb-0 {
   margin-bottom: 0;
}

/* Typpgraphy */
h1,
h2,
h3,
h4,
p {
   margin: 0;
}

h2,h3 {
   font-family:  'Dancing Script', cursive;
   line-height: 1.1;
   letter-spacing: 1px;
}

h2 {
   font-size: 2.2rem;
}
 
p {
   margin-bottom: 0.85em;
}

p:last-child {
   margin-bottom: 0;
}

.section-title-small {
   font-size: 1.7rem;
   font-family: 'Indie Flower', cursive;
}

.section-title-small small {
   font-size: .7em;
    display: block;

}

.text-primary {
   color: #067E0A;
}

.logo {
   font-family: 'Indie Flower', cursive;
   text-align: center;
   padding-bottom: 0.2em;
}

.logo a {
   text-decoration: none;
   color: black;
}

/* navigation */

header {
   padding: 1em 0 1em;
}

nav  ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   justify-content: space-around;
}

nav a {
   display: inline-block;
   padding: 0.5em;
   color: #067E0A;
   text-decoration: none;
   position: relative;
}

nav a::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background-color: #613b6b;
   transform: scaleX(0);
   transition: 200ms all ease-in-out;
   transform-origin: left;
}

nav a:hover,
nav a:hover::after,
nav a:focus   {
   color: #613b6b;
   transform: scaleX(1);
}

/* buttons */

.btn-group {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
}

.btn {
   padding: 0.75em 2.5em;
   color: white;
   text-decoration: none;
   display: block;
   margin: .5em 0;
   border-radius: .35em;
}

.btn-primary {
   background-color: #067E0A;
}

.btn-primary:hover,
.btn-primary:focus {
   background-color: #125814;
}

.btn-accent {
   background-color: #613b6b;
}

.btn-accent:hover,
.btn-accent:focus {
   background-color: #44264d;
}

/* Homepage styles */

.hero {
   background-color: #333;
   background-image: url(pic/ex.jpg);
   background-blend-mode: multiply;
   background-attachment: fixed;
   background-size: cover;
   color: white;
   text-align: center;
   padding: 15vh 1em;
}

.about-us {
   background: #613b6b;
   display: flex;
   flex-direction: column;
   color: white;
   padding: 0;
}

.about-us__intro {
   background-color: #512e5ab9;
   background-image: url(pic/ex.jpg);
   background-blend-mode: multiply;
   background-size: cover;
   padding: 3em 1em 1.5em;
}

.about-us__body {
   padding: 1.5em 1em 3em;
}

.order-online {
   background: #f0f0f0;
}

.products {
   display: flex;
   flex-direction: column;
   max-width: 30rem;
   margin: 0 auto;
}

.product {
   border-radius: 1em;
   overflow: hidden;
   box-shadow: 0 0 1em rgba(0,0,0, 0.1)
}

.product:last-of-type {
   margin-bottom: 3em;
}

.product__content {
   padding: 1.5em
}

.product__title {
   color: #067E0A;
   font-size: 1.4rem;
   margin-bottom: .5em;
}

.fineprint {
   font-size: 0.85rem;
   color: rgba(0,0,0, 0.85)
}


footer {
   background: #44264d;
   padding: 2em 1em;
   color: white;
   display: flex;
   justify-content: center;
   gap: 5em;
   margin-bottom: 0;
   margin-top: 3em;
}

footer a {
   color: inherit;
}

.footer-nav,
.footer-social {
   list-style: none;
   margin: 0;
   padding: 0;
}

.footer-nav a {
   padding: 0.75em;
   text-decoration: none;
}

.footer-nav a:hover {
   text-decoration: underline;
}

.fa-instagram {
   font-size: 2.4rem;
   margin-bottom: 11px;
   color: white;
   transition: all 200ms ease-in-out;
}

.fa-instagram:hover {
   color: transparent;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background-clip: text;
}

.fa-facebook-square {
   font-size: 2.4rem;
   transition: all 200ms ease-in-out
}

.fa-facebook-square:hover {
   color: #3b5998;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.social-link {
   display: inline-block;
}


@media only screen and (min-width: 750px) {
   section {
      padding: 6em 1em;
   }

   .btn-group {
      margin-top: 1em;
      flex-direction: row;
   }

   .btn + .btn {
      margin-left: .5em;
   }

   .about-us {
      flex-direction: row;
   }

   .about-us__intro,
   .about-us__body {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      padding: 4em 2em;
      justify-content: center;
   }

   .about-us__intro {
      text-align: center;
   }

   .about-us__intro > * {
      max-width: 27rem;
      margin-left: auto;
   }

   .about-us__budy {
      text-align: center;
   }

   .about-us__budy > * {
      max-width: 27rem;
      margin-right: auto;
   }

   .order-online > *  {
      max-width: 70ch;
      margin-left: auto;
      margin-right: auto;
   }

   .products {
      flex-direction: row;
      max-width: 1200px;
      padding: 0 5em;
   }

   .product {
      margin: 0;
      flex: 0 1 33%;
   }

   .product + .product {
      margin-left: 1em;
   }

   .product:last-of-type {
      margin-bottom: 0;
   }
}





